#Data Sructure

1. What are data structures, and why are they important?
   - Data structures are specialized formats for organizing, storing and accessing collection of data.
   - They provide efficient ways to manage information based on its characteristics and intended use.

2. Explain the difference between mutable and immutable data types with examples.
   - Mutable - mutable datatypes means changable datatypes, they can modify, remove the elements from the datatype. Ex; List, Sets.
   - Immutable - Immutable Datatypes are unchangable, they can't change the element stored in them. Ex; Tuple, String.

In [ ]:
#Mutable(List)
my_list = [1, 2, 3]
type(my_list)
my_list[2] = 7
print("Updated List:",my_list)

Updated List: [1, 2, 7]

In [ ]:
#Immutable(Tuple)
my_tuple = (10, 20, 30, 40)
type(my_tuple)
my_tuple[3] = 2
print("Updated tuple:",my_tuple)

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
   - The List are orderd, mutable collection of elements, While the tuples are ordered, immutable collection of elements.
   - Once the elements are stored in the list we can access and modify it, but once tuple created, the items in a tuple cannot be changed.

4. Describe how dictionaries store data?
   - The Dictonaries stores the data in the Key-value pair.
   - They stores elements in the unordered way.
   - Those key value pair can be of a various datatypes.

5. Why might you use a set instead of a list in Python?
   - by using a sets we can eliminate the duplicates present.
   - because the list only stores the data even if their duplicate is already present, but the set only stoes the unique elements and removes dulicates.

6. What is a string in Python, and how is it different from a list?
   - Characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material.
   - String are different from list because, they are immutable while the lists are mutable.

7. How do tuples ensure data integrity in Python?
   - Tuples are immutable if once created, their value cannot be changed.
   - This prevents accidental modification of data in the program.
   - Used for storing unchangable and fixed data.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - The hash table is a data structure thst stores data in key-value pair.
   - In python, a dictionary is build using a hash tablebehind the scenes.
   - Dictinaroes use hashing to store, search, update and delete values efficiently.
   - Because only immutable types can be hashed, dictonaries keys must be immutable.
   - Ex- Because when you use my_dict["Name"], python hashes the key "name", finds its spot in memory, and gets the value quickly.

9. Can lists contain different data types in Python?
   - Yes list can contain differnt datatypes within it.
   - List is a ordered collection of elements and can store various types of data witin it.

10. Explain why strings are immutable in Python?
   - Immutable simply means unchangable.
   - Being immutable is faster in speed and have better memory efficiency.
   - Due to immutability data protection is high in Strings as compare to others.

11. What advantages do dictionaries offer over lists for certain tasks?
   - In dictionaries you, access data using keys, not positions.
   - Dictonaries use hashing, so finding a value by key is fast and easy.
   - In list we need to remember the index no, but there is no need to remember anything in dictonaries.

12. Describe a scenario where using a tuple would be preferable over a list?
   - Suppose returning multiple values from a function.
   - When a fuction needs to return more than one value, tuples are ideal. Since the values are fixed once returned, immutability is perfect here.
   - Tuples use less memory than lists, so they're better for storing lots of small, fixed data.

13. How do sets handle duplicate values in Python?
   - Sets do not allow duplicate values they automatically removes any repeated items.
   - If we try to add the same value more than once, the set only keeps one value.
   - Sets are used when you want to store unique elements only.

14. How does the “in” keyword work differently for lists and dictionaries?
   - For list- in checks if a value is present in the list.
   - For dictionaries - in checks if a key is present in the dictoinary(not the value).

In [ ]:
fruits = ["apple", "banana", "mango"]
print("apple" in fruits)

True

In [ ]:
student = {"name": "Aarav", "age": 20}
print("name" in student)

True

15. Can you modify the elements of a tuple? Explain why or why not?
   - No, you cant't modify the element of a tuple.
   - Tuples are immutable, means once they are created, their elements can't be changed, added, or removed.
      - Why
   - Data Safety- immutabilty protects data from being changed accidently.
   - Performance- Tuples are faster and use less memory than lists, especially used for fixed data.

16. What is a nested dictionary, and give an example of its use case?
   - A nested dictionary means a dictionary inside another dictionary.
   - It's used when you want to group the related data together in a structured way.

In [1]:
#Example
students = {
    "A101":{
        "name":"Aarav",
        "age":20,
        "course":"Btech AI"
    },
    "A102":{
        "name":"Sara",
        "age":19,
        "course":"Btech CS"
    }
}

In [2]:
print(students["A101"]["name"])
print(students["A102"]["course"])

Aarav
Btech CS

17. Describe the time complexity of accessing elements in a dictionary?
   - Accessing elements in a dictionary using a key is very fast.
   - Time complexity: O(1) -> Constant time.
   - Python dictionary use hash table.
   - When you use the key to get value, python converts key into hash and uses that directly to find the vaue in memory.
   - No need to search through the whole dictionary like a list.

18. In what situations are lists preferred over dictionaries?
   - When you need to store ordered data like sequence of elements.
   - When you want to loop through elements in order.
   - When you only nee values not key_value pair.
   - when the data is simple like a lit of numbers, names, etc

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   - Dictionaries are considered unordered, because, they are built mainly for key-based access, not for keeping elements in order.
   - Accessing elements is faster due to keys.
   - Can't access the elements by the position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   - List store elements in a order so while accessing the element you need to remember the index no, while dictoinaries use hash methon so you only need to mention the key and you can get the value.
   - Dictionary lookups are usually faster(O(1)times) because they use hash table, while lists are slower(O(n) in some cases).

#Practical questions

1. Write a code to create a string with your name and print it.

In [1]:
name = "Anushka Nitin."
print(name)

Anushka Nitin.

2. Write a code to find the length of the string "Hello World".

In [2]:
s = "Hello World"
len(s)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
s = "Python Programming"
print(s[2:6])

thon

4. Write a code to convert the string "hello" to uppercase.

In [5]:
s = "hello"
print(s.upper())

HELLO

5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
s = "I like apple"
new = s.replace("apple", "orange")
print(new)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
lst =  [1, 2, 3, 4]
lst.append(10)

In [9]:
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)

In [11]:
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [12]:
lst =  ['a', 'b', 'c', 'd']
print(lst[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [13]:
lst = [10, 20, 30, 40, 50]
lst.reverse()

In [14]:
print(lst)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [20]:
tpl = (100, 200, 300)
print(type(tpl))
print(tpl)

<class 'tuple'>
(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [21]:
tpl = ('red', 'green', 'blue', 'yellow')
tpl[1:4]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [23]:
tpl =  (10, 20, 5, 15)
min(tpl)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
tpl =  ('dog', 'cat', 'rabbit')
idx = tpl.index('cat')
print("Index of cat:",idx)

Index of cat: 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [27]:
tpl = ('mango', 'kiwi', 'grapes')
'mango' in tpl

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [29]:
s = {'a', 'b', 'c'}
print(type(s))
print(s)

<class 'set'>
{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [30]:
s = {1, 2, 3, 4, 5}
s.clear()

In [31]:
print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [32]:
s =  {1, 2, 3, 4}
s.remove(4)

In [33]:
print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [34]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [35]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [49]:
dic = {"name":"Aarav", "age":20, "city":"nashik"}
print(dic)

{'name': 'Aarav', 'age': 20, 'city': 'nashik'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [39]:
dic = {'name': 'John', 'age': 25}
dic['counry'] = 'USA'
print(dic)

{'name': 'John', 'age': 25, 'counry': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [42]:
dic =  {'name': 'Alice', 'age': 30}
print(dic['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [45]:
dic =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop('age')
print(dic)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [46]:
dic = {'name': 'Alice', 'city': 'Paris'}
'city' in dic

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [47]:
#list
lst = [1, 2, 3, 4]
print(lst)

[1, 2, 3, 4]

In [48]:
#Tuple
tpl = ('a', 'b', 'c')
print(tpl)

('a', 'b', 'c')

In [50]:
dic = {
    "name":"Aarav",
    "age":20,
    "city":"nashik"
    }
print(dic)

{'name': 'Aarav', 'age': 20, 'city': 'nashik'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [51]:
lst = [7, 1, 30, 98, 28]
lst.sort()
print(lst)

[1, 7, 28, 30, 98]

28. Write a code to create a list with strings and print the element at the third index.

In [52]:
clr = ["yellow", "blue", "green", "black", "White", "red"]
clr[3]

'black'

29. Write a code to combine two dictionaries into one and print the result.

In [54]:
dic1 = {"name":"Bob", "age":20}
dic2 = {"city":"Nashik", "Country":"India"}
dic1.update(dic2)
print(dic1)

{'name': 'Bob', 'age': 20, 'city': 'Nashik', 'Country': 'India'}

30. Write a code to convert a list of strings into a set.

In [55]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]
fruit_set = set(fruits)
print(fruit_set)

{'cherry', 'banana', 'apple'}